<app-header [title]="title"
            [previousSection]="previousSection">
</app-header>

<div class="container p-4 position-relative"  style="top: 4rem">
  <h2>{{questionTitle}}</h2>
  <p *ngIf="selectAnswer">Answer: {{selectAnswer.option}}</p>
  <div class="mt-5">
    <button type="button"
            class="btn btn-lg btn-block text-left btn-light" style="white-space: normal"
            *ngFor="let option of options | sort"
            (click)="select(option)">
      <span>{{option.option}}. {{option.questionDescription}}</span>
    </button>
  </div>
</div>

<app-footer
  [isFinished]="isFinished"
  [questionId]="questionId"
  [attempt]="attempt"
  [examName]="examName"
  [answer]="answer"
  [selectAnswer]="selectAnswer"></app-footer>
