<div class="container p-3 position-relative" style="top: 4rem">
  <div class="card mb-3">
    <div class="card-header">News</div>

    <div class="list-group list-group-flush">

      <a href="#"
         class="list-group-item list-group-item-action"
         [routerLink]="['/news', {post: 1}]" >
        Not getting job offers? Your social media could be the reason
      </a>
      <a href="#"
         class="list-group-item list-group-item-action"
         [routerLink]="['/news', {post: 2}]">
        Looking for a job in the back half of 2018? 5 things you should know…
      </a>
      <a href="#"
         class="list-group-item list-group-item-action"
         [routerLink]="['/news', {post: 3}]">
        8 tips for juggling part-time jobs
      </a>

    </div>

  </div>
</div>
