<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="display-3">
            Looking for a job in the back half of 2018? 5 things you should know…
        </h1>
        <span>
            By Ladan Hayes | August 3, 2018
        </span>
        <img alt="Emsi forecast"
             class="small-12 columns post-image"
             src="https://hiring-assets.careerbuilder.com/media/attachments/careerbuilder-ar_post-3874.jpg?1529593055">

        <h3>

            AS EMPLOYERS GRAPPLE WITH A HIGHLY COMPETITIVE HIRING ENVIRONMENT THAT IS CAUSING PROLONGED JOB VACANCIES ACROSS THE U.S., WORKERS ARE REAPING THE BENEFITS.
        </h3>
        <br />
        <p>
            Are you in a hurry to get a job? Are you having a hard time finding a job, and starting to feel discouraged? Good news is on the horizon. According to CareerBuilder’s Midyear Job Forecast, 63 percent of U.S. employers plan to hire full-time, permanent workers in the second half of 2018, up from 60 percent last year. And a substantial percentage of employers hiring in the second half of 2018 are expecting to offer higher salaries and various perks — such as signing bonuses, extra paid time off, free lunches and the ability to work remotely — to attract and keep the talent they need.
        </p>

        <br />
        <p>
            Here are some additional things you should know that can help power your job search:
        </p>

        <p><strong>Know what’s out there:</strong>From a functional standpoint, the top roles employers hiring in the second half of 2018 say they will be hiring include:</p>

        <br />
        <ul>
            <li>
                Customer service – 41 percent
            </li>
            <li>
                Sales – 28 percent
            </li>
            <li>
                Information technology – 22 percent
            </li>
            <li>
                Product development – 16 percent
            </li>
            <li>
                Business development – 16 percent
            </li>
            <li>
                Casual dress code – 36 percent
            </li>
            <li>
                Employee discounts – 31 percent
            </li>
            <li>
                Ability to work remotely – 25 percent
            </li>
            <li>
                Extra paid time off – 22 percent
            </li>
            <li>
                Signing bonus – 21 percent
            </li>
            <li>
                Free lunches – 14 percent
            </li>
            <li>
                Gym memberships – 12 percent
            </li>
            <li>
                Work from home Fridays – 10 percent
            </li>
            <li>
                Daycare – 8 percent
            </li>
        </ul>

        <br />

        <p><strong>There might be more money on the table: </strong>Employers expect to provide a greater financial incentive to new workers and existing staff. Forty-five percent plan to increase starting salaries on new job offers in the back half of 2018; 23 percent of all employers plan to increase starting salaries by 5 percent or more.</p>
        <p><strong>Employers are stepping up their perk game: </strong>In an effort to draw in more applicants, employers hiring in the second half of 2018 said they would be highlighting different perks in their job offers:</p>
        <p><strong>Highlight your tech skills:</strong>Sixty-nine percent of employers said every job is essentially a tech job because every job has some technical component to it today. That sentiment is reflected in how employers recruit and interview for different roles.</p>
        <p><strong>Consider contract work:</strong>Forty-one percent of employers plan to hire temporary or contract workers in Q3. While trending down from 50 percent last year, temporary or contract hiring continues to be a key way employer fill employment gaps and recruit permanent staff.</p>

    </div>
</div>
</body>
</html>