<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="display-3">
            Not getting job offers? Your social media could be the reason
        </h1>
        <span class="bg-light">
            By Matthew Tarpey | August 9, 2018
        </span>
        <img alt="Social media survey"
             class="small-12 columns post-image"
             src="https://hiring-assets.careerbuilder.com/media/attachments/careerbuilder-ar_post-3914.jpg?1533150814">
        <h3>
            If you're job hunting and on social media, always consider the possibility that an employer may check your online presence.
        </h3>
        <p>
            Your social media posts might win over or make you lose friends, but according to a recent CareerBuilder survey, they could also have a big impact on prospective employers. Seventy percent of employers use social networking sites to research job candidates, and of those that do, 43 percent have found content that caused them to hire candidates. On the other hand, of these employers, 57 percent have found content that caused them not to.
        </p>
        <h3>
            Not being online can hurt you
        </h3>
        <p>
            Nearly half of employers (47 percent) say that if they can’t find a job candidate online, they are less likely to call that person in for an interview – 28 percent say that is because they like to gather more information before calling in a candidate for an interview, 20 percent say they expect candidates to have an online presence.
        </p>
        <br />
        <p>
            According to employers who use social networking sites to research potential job candidates, what they’re looking for when researching candidates is:
        </p>
        <ul>
            <li>
                Information that supports their qualifications for the job: 58 percent
            </li>
            <li>
                If the candidate has a professional online persona: 50 percent
            </li>
            <li>
                What other people are posting about the candidate: 34 percent
            </li>
            <li>
                A reason not to hire the candidate: 22 percent
            </li>
        </ul>
        <h3>
            Be careful once on the job
        </h3>
        <p>
            Employers continue to monitor employees’ online presence even after they’re hired. Nearly half of employers (48 percent) say they use social networking sites to research current employees— 10 percent do it daily. Further, a third of employers (34 percent) have found content online that caused them to reprimand or fire an employee.
        </p>
        <h3>
            The best way to use social media
        </h3>
        <p>
            Social media is booming with networking opportunities and the chance to share your accomplishments, but it could also lead to the end of your career if used incorrectly. It’s important to keep things in check by making sure you don’t post tasteless comments or photos, mock customers, plagiarize, complain about your job or boss or talk about your search for new career opportunities. Whether using social media in the workplace or not, it’s important to keep your personal brand appropriate and make sure it’s something you’d feel comfortable with your employer seeing.
        </p>
    </div>
</div>
</body>
</html>