<app-header [title]="title"
            [previousSection]="previousSection">
</app-header>

<div class="container p-3 position-relative" style="top: 4rem">
  <div *ngIf="post == 1">
    <h1>
      Not getting job offers? Your social media could be the reason
    </h1>
    <span class="bg-light">
      By Matthew Tarpey | August 9, 2018
    </span>
    <img alt="Social media survey"
         class="small-12 columns post-image" style="width: 100%"
         src="https://hiring-assets.careerbuilder.com/media/attachments/careerbuilder-ar_post-3914.jpg?1533150814">
    <h3>
      If you're job hunting and on social media, always consider the possibility that an employer may check your online presence.
    </h3>
    <p>
      Your social media posts might win over or make you lose friends, but according to a recent CareerBuilder survey, they could also have a big impact on prospective employers. Seventy percent of employers use social networking sites to research job candidates, and of those that do, 43 percent have found content that caused them to hire candidates. On the other hand, of these employers, 57 percent have found content that caused them not to.
    </p>
    <h3>
      Not being online can hurt you
    </h3>
    <p>
      Nearly half of employers (47 percent) say that if they can’t find a job candidate online, they are less likely to call that person in for an interview – 28 percent say that is because they like to gather more information before calling in a candidate for an interview, 20 percent say they expect candidates to have an online presence.
    </p>
    <br />
    <p>
      According to employers who use social networking sites to research potential job candidates, what they’re looking for when researching candidates is:
    </p>
    <ul>
      <li>
        Information that supports their qualifications for the job: 58 percent
      </li>
      <li>
        If the candidate has a professional online persona: 50 percent
      </li>
      <li>
        What other people are posting about the candidate: 34 percent
      </li>
      <li>
        A reason not to hire the candidate: 22 percent
      </li>
    </ul>
    <h3>
      Be careful once on the job
    </h3>
    <p>
      Employers continue to monitor employees’ online presence even after they’re hired. Nearly half of employers (48 percent) say they use social networking sites to research current employees— 10 percent do it daily. Further, a third of employers (34 percent) have found content online that caused them to reprimand or fire an employee.
    </p>
    <h3>
      The best way to use social media
    </h3>
    <p>
      Social media is booming with networking opportunities and the chance to share your accomplishments, but it could also lead to the end of your career if used incorrectly. It’s important to keep things in check by making sure you don’t post tasteless comments or photos, mock customers, plagiarize, complain about your job or boss or talk about your search for new career opportunities. Whether using social media in the workplace or not, it’s important to keep your personal brand appropriate and make sure it’s something you’d feel comfortable with your employer seeing.
    </p>
  </div>


  <div *ngIf="post == 2">
    <h1>
      Looking for a job in the back half of 2018? 5 things you should know…
    </h1>
    <span>
            By Ladan Hayes | August 3, 2018
        </span>
    <img alt="Emsi forecast"
         class="small-12 columns post-image" style="width: 100%"
         src="https://hiring-assets.careerbuilder.com/media/attachments/careerbuilder-ar_post-3874.jpg?1529593055">

    <h3>

      AS EMPLOYERS GRAPPLE WITH A HIGHLY COMPETITIVE HIRING ENVIRONMENT THAT IS CAUSING PROLONGED JOB VACANCIES ACROSS THE U.S., WORKERS ARE REAPING THE BENEFITS.
    </h3>
    <br />
    <p>
      Are you in a hurry to get a job? Are you having a hard time finding a job, and starting to feel discouraged? Good news is on the horizon. According to CareerBuilder’s Midyear Job Forecast, 63 percent of U.S. employers plan to hire full-time, permanent workers in the second half of 2018, up from 60 percent last year. And a substantial percentage of employers hiring in the second half of 2018 are expecting to offer higher salaries and various perks — such as signing bonuses, extra paid time off, free lunches and the ability to work remotely — to attract and keep the talent they need.
    </p>

    <br />
    <p>
      Here are some additional things you should know that can help power your job search:
    </p>

    <p><strong>Know what’s out there:</strong>From a functional standpoint, the top roles employers hiring in the second half of 2018 say they will be hiring include:</p>

    <br />
    <ul>
      <li>
        Customer service – 41 percent
      </li>
      <li>
        Sales – 28 percent
      </li>
      <li>
        Information technology – 22 percent
      </li>
      <li>
        Product development – 16 percent
      </li>
      <li>
        Business development – 16 percent
      </li>
      <li>
        Casual dress code – 36 percent
      </li>
      <li>
        Employee discounts – 31 percent
      </li>
      <li>
        Ability to work remotely – 25 percent
      </li>
      <li>
        Extra paid time off – 22 percent
      </li>
      <li>
        Signing bonus – 21 percent
      </li>
      <li>
        Free lunches – 14 percent
      </li>
      <li>
        Gym memberships – 12 percent
      </li>
      <li>
        Work from home Fridays – 10 percent
      </li>
      <li>
        Daycare – 8 percent
      </li>
    </ul>

    <br />

    <p><strong>There might be more money on the table: </strong>Employers expect to provide a greater financial incentive to new workers and existing staff. Forty-five percent plan to increase starting salaries on new job offers in the back half of 2018; 23 percent of all employers plan to increase starting salaries by 5 percent or more.</p>
    <p><strong>Employers are stepping up their perk game: </strong>In an effort to draw in more applicants, employers hiring in the second half of 2018 said they would be highlighting different perks in their job offers:</p>
    <p><strong>Highlight your tech skills:</strong>Sixty-nine percent of employers said every job is essentially a tech job because every job has some technical component to it today. That sentiment is reflected in how employers recruit and interview for different roles.</p>
    <p><strong>Consider contract work:</strong>Forty-one percent of employers plan to hire temporary or contract workers in Q3. While trending down from 50 percent last year, temporary or contract hiring continues to be a key way employer fill employment gaps and recruit permanent staff.</p>

  </div>


  <div *ngIf="post == 3">
    <h1>
      8 tips for juggling part-time jobs
    </h1>
    <span>
            By Debra Auerbach | August 29, 2018
        </span>
    <img alt="Juggling jobs"
         class="small-12 columns post-image" style="width: 100%"
         src="https://hiring-assets.careerbuilder.com/media/attachments/careerbuilder-ar_post-3900.jpg?1532545419">
    <h3>

      HEAR WHAT CAREER EXPERTS, AS WELL AS PEOPLE WHO’VE DEALT WITH SUCH A WORK SCHEDULE, HAVE TO SAY ABOUT HOW BEST TO JUGGLE MULTIPLE JOBS.
    </h3>
    <br />
    <p>Today’s workforce is evolving in many ways. For example, many workers – particularly those newer to the workforce – are choosing a bunch of side hustles over one full-time job. Others find themselves working several jobs involuntarily out of financial necessity; according to the latest BLS jobs report, 4.6 million people were employed part-time for economic reasons.</p>
    <p>Whatever the reason, finding a way to juggle more than one job and be successful while doing so can pose challenges. Hear what career experts, as well as people who’ve dealt with such a work schedule, have to say about how best to juggle multiple jobs.</p>

    <br />
    <h3>1. Manage expectations</h3>
    <p>“The first [tip] is to manage expectations by ensuring each employer is fully aware of your availability and commitments,” says Ben Taylor, founder of <a href="http://www.homeworkingclub.com">www.homeworkingclub.com</a> and a “serial solopreneur” who’s been juggling multiple commitments since 2004. “While it’s great to be flexible, overcommitting yourself can eventually lead to you either letting one of your employers down or losing all semblance of work-life balance.”</p>
    <br />

    <h3>2. Get organized</h3>
    <p><strong>Taylor says it’s also important to get – and stay – organized to keep your sanity and your ability to do the jobs well. He suggests using a software tool to do just that. </strong>“This only needs to be something like Microsoft Outlook or an Apple Calendar, but by linking it to your smartphone and ensuring it’s constantly up to date, you can ensure you don’t drop the ball and are always able to quickly check your availability.”</p>
    <br />

    <h3>3. Adopt a schedule</h3>
    <p>“Parkinson’s Law says that work expands to fill the space it is given. That means the schedule you make – whether it is what days or hours to work, days you are going to complete major projects, or days to take off – is critical to your long-term success,” says Conor Richardson, CPA, author of “Millennial Money Makeover: Escape Debt, Save For Your Future, and Live the Rich Life Now” and founder of MillennialMoneyMakeover.com. “Be realistic with how much you want and need to work. Once you finalize your schedule, you will become remarkably accustomed to the routine, and success will follow.”</p>
    <br />

    <h3>4. Don’t take on more than you can handle</h3>
    <p>Deborah Sweeney, CEO of MyCorporation.com, says that when juggling multiple part-time jobs, it’s important not to bite off more than you can chew. “Do not try to take on so much work that the jobs start crashing into one another or pose a conflict of interest. Work hard, but know your limits to avoid burning out and gradually becoming less productive.”</p>
    <br />


    <h3>5. Keep every commitment </h3>
    <p>At the same time, if you say “yes” to a job, you should see it through. “Juggling part-time jobs requires dedication and discipline. The important thing here is keeping every commitment,” says Christopher K. Lee, founder and career consultant at <a href="http://www.PurposeRedeemed.com">PurposeRedeemed.com</a>. “If you find that you're often late or scrambling, take a step back. Evaluate your priorities and determine what you may want to cut back. Focus on excelling at a smaller number of activities. Those successes will take you further in your career than a bunch of mediocre performances.”</p>
    <br />

    <h3>6. Limit your commute</h3>
    <p>“If you want to work multiple jobs with equal focus and attention, limiting your commute time should be your first priority,” says Ketan Kapoor, CEO and co-founder of online assessment platform Mettl. “Try to stay close to your job location and make sure every job you work is at a nearby location to each other, so you kill less time commuting and [spend] more time working. It can be a few blocks away, but shouldn’t require you to commute from one corner of the city to the other. Following this approach can also help you keep your energy levels in check.”</p>
    <br />


    <h3>7. Choose jobs that use different strengths</h3>
    <p>Kapoor also suggests choosing jobs that are different in nature from each other. “Even when you work multiple jobs, your different employers won’t be very considerate about that fact,” Kapoor says. “In other words, you can’t compromise on any crucial aspects required to excel at that job. Therefore, you must keep the job nature different from one another. For instance, if one requires extensive mental inputs; the other one can be a bit mechanized in nature with some degree of physical activity.”</p>
    <br />


    <h3>8. Give yourself a break</h3>
    <p>“Resting is a vital part of success. Scientific literature tells us that employees need vacations to recharge and be at their best when they are in the office,” Richardson says. “This is especially true for someone juggling different workplace dynamics and environments. The key is to understand the benefit, mentally and physically, that you gain from taking the time to wind down, assess and recover. You will thank yourself later.”</p>
  </div>
</div>
