<app-header [title]="title"
            [previousSection]="previousSection">
</app-header>

<div class="container p-3 position-relative"  style="top: 4rem">
  <div class="jumbotron mb-2">
    <h2 class="display-4">Welcome!</h2>
  </div>

  <div class="card mb-3"
       *ngFor="let type of examTypes">
    <div class="card-header">{{type}}</div>

    <div class="list-group list-group-flush">

      <a *ngFor="let exam of exams | type: type"
         class="list-group-item list-group-item-action"
         (click)="onClick(exam)">
        {{exam.examName}}
        <span class="badge badge-light float-right">
          {{exam.totalNumber}}
        </span>
      </a>

    </div>

  </div>

</div>

